h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.7em;
  color: #333;
}

img {
  width: 300px;
  height: 300px;
}

#project-title {
  font-family: 'Roboto Slab', serif;
  font-size: 1.75em;
  padding: 0.8em;
  color: #333
}

.button-box {
  position: fixed;
  padding: 1em;
  left: -20px;
  bottom: 150px;
  width: 100%;
}

p {
  font-size: 1.3em;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

#instructions {
  font-size: 0.75em;
}

.share {
font-size: 0.5em;
font-family: 'Open Sans', sans-serif;
align-items: center;
}

footer {
  padding: 1em;
  position: fixed;
  left: -20px;
  bottom: 0;
  width: 100%;
}

@media (max-width: 420px) {
  .button-box {
    position: fixed;
    padding: 1em;
    position: fixed;
    left: -20px;
    bottom: 75px;
    width: 100%;
  }
}
